.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.location-logo {
  width: 50px
}

.header-address {
  display: flex;
  align-items: center;
}

.location-logo {
  margin-right: 10px;
}

.header-address > span {
  display: flex;
  flex-direction: column;
}

.state,
.pin {
  margin-top: 5px;
}

.state {
  padding-right: 5px;
}

.logo {
  margin-left: 11px;
  width: 50px;
}

.comp1 {
  display: flex;
  flex-direction: column;
}

.pic {
  width: 100px;
}

.pick-up {
  display: flex;
  border: 5px;
  width: 100%;
}

/* a.logo {
  min-width: 10px;
  display: inline-block;
  text-decoration: none;
} */